.nav{
    display: flex;
    background-color: green;
    justify-content: space-between;
    padding: 5px;
}
.navtitle{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.navlinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.linkfont{
    color: white;
    padding: 10px;
    font-size: large;
}
